<% @spaces.each do |x| %>
  <% next if x.capacity == nil || x.capacity <= 0 %>
  <ul class = "all-list">
    <li><p>Address: <%= x.address %></p></li>
    <li><p>Capacity: <%= x.capacity %></p></li>
    <li><p>Garbage Day: <%= x.garbaje_day %></p></li>
  </ul>
<% end %>
<!--
t.integer  "capacity"
t.string   "garbaje_day"
t.integer  "user_id"
t.string   "address"
t.datetime "created_at",  null: false
t.datetime "updated_at",  null: false
t.integer  "substract"
t.string   "latitude"
t.string   "longitude" -->
