<h1>Spaces#index</h1>
<p>Find me in app/views/spaces/index.html.erb</p>

Thank you <%= @user.first_name %> to sell <br />
<% @spaces.each do |x| %>
  Address: <%= x.address %> - 
  Quantity: <%= x.capacity %> <br />
<% end %>
