<h1>Welcome</h1>
<a href="#newuser">Get Started with Garbaje</a>


<h3>About Garbaje</h3>

<p>
  The city has placed a garbage limit of 5 yellow bags per week for large businesses of 50 employees or more. For every extra bag of garbage, the city charges $50. With Garbaje, simply pay $10 for a garbage bin to place your extra waste in. The app is easy to use and cost effective. Sign up today for free and start saving.
</p>


<div id="newuser">
  <%= render 'users/form' %>
</div>

<div id="login">
  <%= render 'sessions/form' %>
</div>
