// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newtrans {
  position: relative;
  left: 40%;
  top: 50px;
  font-size: 28px;
}
