@media (min-width: 992px) {

}

.panel-title {
  color: #4E8D77 !important;
}
.panel-info {
  -webkit-box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.3) !important;
  -moz-box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.3) !important;
  box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.3) !important;
  border: solid 1px #E3E3E3 !important;
}

.panel-heading {
  color: #8C8C8C !important;

  background-image: -webkit-linear-gradient(top,#E3E3E3 0,#E3E3E3 100%) !important;
  background-image: linear-gradient(to bottom,#E3E3E3 0,#E3E3E3 100%) !important;
}

.edit-prof {
  margin-bottom: 15px;
  margin-top: 15px;
}

.exist-title {
  margin-bottom: 20px;
}

.panel-title {
  padding: 15px;
}

.btn-primary {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2) !important;
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2) !important;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2) !important;
  -webkit-border-radius: 6 !important;
  -moz-border-radius: 6 !important;
  border-radius: 6px !important;
  font-family: "Avenir next", Arial, sans-serif !important;
  font-weight: normal !important;
  color: #ffffff !important;
  font-size: 14px !important;
  background: #118B5F !important;
  padding: 9px 32px 9px 32px !important;
  text-decoration: none !important;
  text-align: center !important;
  border-style: none !important;
}

.btn-primary:hover {
  background: #72a593 !important;
  color: #118B5F !important;
  text-decoration: none !important;
  transition: 0.5s ease !important;
}

.modal-footer {
  text-align: center !important;
}

.how-many-field {
  display: inline-block;
}

.how-many-field .submit {
  margin-left: 5px;
  display: inline-block;
}

.how-form-field {
  margin-right: 5px;
  float: left;
}

.submit input{
  margin-top: 7px;
}

.updatesellcapacity {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  background-color: #6BA993;
  margin-bottom: 20px;
  border-radius: 7px;
  // padding-bottom: 6px;
  // padding: 4px;
}

.updatesellcapacity h3 {
  padding-top: 18px;
}

.field label {
  // background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400 !important;
<<<<<<< HEAD
  font-size: 25px;
  color: red;
}

.submit input {
  border-radius: 7px;
  border-style: none;
  margin-bottom: 18px;
}

#space_capacity {
  color: black;
}
