.welcome-header {
  background-image: url("city-background.jpg");
  background-size: cover;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  height: 600px;
  text-align: center;

}

.home-title-button {
  position: absolute;
  margin: 0 auto;
  z-index: 99;
  width: 800px;
  top: 0;
  left: 0;
  right: 0;

}

@media (min-width: 1000px) {
  .welcome-header {
    height:500px;
  }
}

.welcome-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: white;
  padding-top: 190px;
  margin: 0;
}

.welcome-subtitle {
  font-family: "Avenir next", Arial, sans-serif;
  font-weight: 200;
  color: white;
  margin-top: 0px;
  margin-bottom: 40px;
}


.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: "Avenir next", Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  background: #0C6847;
  padding: 9px 32px 9px 32px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: #72a593;
  text-decoration: none;
}

.introduction {
  /*background-color: white;*/
  color: #0C6847;
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 10;
  position: absolute;
}

.intro-line {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  font-size: 23px;
  margin-top: 15px;
  /*border: 2px #0C6847 solid*/
}

.when-you-buy {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  color: #707070;
  text-align: center;
  /*background-color: #A6C2B8;*/
  width: 500px;
  height: 500px;
  float: right;
  border-style: inset;
  border-width: 6px;
  border-color: #9BA09E;
  border-radius: 15px;
  display: inline-block;
  /*box-shadow: 10px 10px 5px #888888;*/

}

.when-you-buy-list {
  padding: 0;
  list-style-type: none;
  margin: auto;
  width: 330px;
  text-align: center;
}

.trash-bin-full {
  margin-bottom: 25px;
  margin-top: 25px;

}

.when-you-sell {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  color: #707070;
  text-align: center;
  /*background-color: #A6C2B8;*/
  width: 500px;
  height: 500px;
  float: left;
  border-style: outset;
  border-width: 6px;
  border-color: #9BA09E;
  border-radius: 15px;
  display: inline-block;
  /*box-shadow: 10px 10px 5px #888888;*/

}

.when-you-sell-list {
  padding: 0;
  list-style-type: none;
  margin: auto;
  width: 330px;
  text-align: center;
  /*box-shadow: 10px 10px 5px #888888;*/

}

.money-bag {
  margin-bottom: 25px;
  margin-top: 25px;
}

.when-you-title {
  margin-top: 40px;
}

.container {
  width: 71%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

}

.garbage-bag {
   margin: auto;
   display: block;
   padding-top: 25px;
   margin-top: 30px:
}

.downward-arrow {
  margin: auto;
  display: block;
  padding-top: 30px;
  width: 60px;
  margin-top: 74px;
}

.intro-form {
  background: linear-gradient(to bottom right, #03261A, #1E8963);
  margin-top: 100px;
  height: 680px;
  width: 100%;
  padding-top: 100px;
}

.signup-container {
  width: 50%;
  float: left;
}

.login-container {
  width: 50%;
  float: right;
}

#newuser {
  float: right;
  /*display: inline-block;*/
  margin-right: 15px;
}

.newuser {
  padding-bottom: 50px;
}

#login {
  float: left;
  /*display: inline-block;*/
  margin-left: 15px;
}

.loginform {
  padding-bottom: 50px;
}

.parallax-window {
  background: transparent;
  min-height: 400px;
  background-color: #0C6847;
}

video#video {
  width: 100%;
  /*position: absolute;*/
  /*top: 0;*/
  z-index: -100;
}
