.welcome-header {
  background-image: url("background-image.jpg");
  background-size: cover;
  font-family: "Avenir", Arial, sans-serif;
  font-weight: lighter;
  height: 600px;
  text-align: center;

}

@media (min-width: 1000px) {
  .welcome-header {
    height:500px;
  }
}

.welcome-title {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: lighter;
  color: white;
  padding-top: 190px;
  margin: 0;
}

.welcome-subtitle {
  font-family: "Avenir next", Arial, sans-serif;
  font-weight: 200;
  color: white;
  margin-top: 0px;
  margin-bottom: 40px;
}


.btn {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: "Avenir next", Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 14px;
  background: #0C6847;
  padding: 9px 32px 9px 32px;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: #72a593;
  text-decoration: none;
}

.introduction {
  color: #0C6847;
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-line {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  font-size: 23px;
  margin-top: 15px;
}

.when-you-buy {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  color: #707070;
  text-align: center;
  /*background-color: #A6C2B8;*/
  width: 500px;
  height: 500px;
  float: right;
  border-style: inset;
  border-width: 6px;
  border-color: #9BA09E;
  border-radius: 15px;
  display: inline-block;
  /*box-shadow: 10px 10px 5px #888888;*/

}

.when-you-buy-list {
  padding: 0;
  list-style-type: none;
  margin: auto;
  width: 330px;
  text-align: center;
}

.trash-bin-full {
  margin-bottom: 25px;
}

.when-you-sell {
  font-family: "Avenir", Arial, sans-serif;
  font-weight: normal;
  color: #707070;
  text-align: center;
  /*background-color: #A6C2B8;*/
  width: 500px;
  height: 500px;
  float: left;
  border-style: outset;
  border-width: 6px;
  border-color: #9BA09E;
  border-radius: 15px;
  display: inline-block;
  /*box-shadow: 10px 10px 5px #888888;*/

}

.when-you-sell-list {
  padding: 0;
  list-style-type: none;
  margin: auto;
  width: 330px;
  text-align: center;
  /*box-shadow: 10px 10px 5px #888888;*/

}

.money-bag {
  margin-bottom: 25px;
}

.when-you-title {
  margin-top: 40px;
}

.container {
  width: 71%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

}

.garbage-bag {
   margin: auto;
   display: block;
   padding-top: 25px;
   margin-top: 30px:
}

.downward-arrow {
  margin: auto;
  display: block;
  padding-top: 30px;
  width: 60px;
  margin-top: 74px;
}

.intro-form {
  background-color: #7F9E93;
  margin-top: 40px;
  height: 300px;
}

#newuser {
  float: left;
}

#login {
  float: right;
}
